<div class=" single-post-card" id=<%= post_path(post.id) %>>
  <div class="card">
    <div class="card-block">
      <h4 class="post-text">
      </h4>
      <div class="post-content">
             <h1 class="card-header"> <%= link_to post.title, post_path(post.id)%> </h1>

        <strong><%= link_to post.user.username, user_path(post.user_id) %></strong>
        <%= post.created_at.to_date %>
        <p><%= post.text %></p>
        <div class="tags">
        Tags: <%=raw tag_links(post.all_tags)%>
      </div>
      <p> _____________________</p>
      </div>
    </div>

  </div><!-- card -->
</div><!-- col-sm-3 -->